<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IoT Gateway</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Bootstrap CSS -->    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="css/elegant-icons-style.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />    
    <!-- full calendar css-->
    <link href="assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
	<link href="assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
	<link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
	<link rel="stylesheet" href="css/fullcalendar.css">
	<link href="css/widgets.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
	<link href="css/xcharts.min.css" rel=" stylesheet">	
	<link href="css/jquery-ui-1.10.4.min.css" rel="stylesheet">
  
  </head>

  <body>
  
  <div  ng-app="" ng-controller="successLoginController">
  <!-- container section start -->
  <section id="container" class="">
     
      
      <header class="header dark-bg">
            

            <!--logo start-->
            <a href="devicePage" class="logo">IoT <span class="lite">Gateway</span></a>
            <!--logo end-->

            
            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" style="height:40px;width=:40px;padding:5px" src="img/avatar1_small.jpg">
                            </span>
                            <span class="username">Admin</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                           
                            <li>
                                <a href="/"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                           
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="devicePage">
                          <i class="icon_house_alt"></i>
                          <span>Devices</span>
                      </a>
                  </li>
				 
                  <li>
                      <a class="" href="cloudBrokerPage">
                          <i class="icon_genius"></i>
                          <span>Cloud Broker</span>
                      </a>
                  </li>
                 
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

      <!--sidebar end-->
       <table class="table" style="margin-left:185px;margin-top:120px;position:fixed;">
    <thead>
      <tr>
        <th class="col-md-1">Device Id</th>
        <th class="col-md-2">Device Type</th>
        <th class="col-md-1">Status</th>
        <th class="col-md-2">Date Added</th>
        <th class="col-md-2">Date Removed</th>
        <th class="col-md-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="success"  ng-repeat="device in deviceResults">
        <td class="col-md-1">{{device.iddevices}}</td>
        <td class="col-md-2">{{device.device_type}}</td>
        <td class="col-md-1">{{device.status}}</td>
         <td class="col-md-2">{{device.date_added}}</td>
          <td class="col-md-2"><span ng-if="device.date_removed">{{device.date_removed}}</span><span ng-if="!device.date_removed">---</span></td>
          <td class="col-md-2"><a href="" id=this.device.iddevices ng-click="removeDevice(this)">Remove</a></td>
      </tr>
    </tbody>
  </table>
 </section>


			 

    <!-- javascripts -->
    <script src="js/jquery.js"></script>
	<script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="js/owl.carousel.js" ></script>
    <!-- jQuery full calendar -->
    <<script src="js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
	<script src="assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="js/calendar-custom.js"></script>
	<script src="js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="js/jquery.customSelect.min.js" ></script>
	<script src="assets/chart-master/Chart.js"></script>
   
    <!--custome script for all page-->
    <script src="js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="js/sparkline-chart.js"></script>
    <script src="js/easy-pie-chart.js"></script>
	<script src="js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="js/jquery-jvectormap-world-mill-en.js"></script>
	<script src="js/xcharts.min.js"></script>
	<script src="js/jquery.autosize.min.js"></script>
	<script src="js/jquery.placeholder.min.js"></script>
	<script src="js/gdp-data.js"></script>	
	<script src="js/morris.min.js"></script>
	<script src="js/sparklines.js"></script>	
	<script src="js/charts.js"></script>
	<script src="js/jquery.slimscroll.min.js"></script>
  <script>

      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () { 
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });
	  
	  /* ---------- Map ---------- */
	$(function(){
	  $('#map').vectorMap({
	    map: 'world_mill_en',
	    series: {
	      regions: [{
	        values: gdpData,
	        scale: ['#000', '#000'],
	        normalizeFunction: 'polynomial'
	      }]
	    },
		backgroundColor: '#eef3f7',
	    onLabelShow: function(e, el, code){
	      el.html(el.html()+' (GDP - '+gdpData[code]+')');
	    }
	  });
	});
</script>

<button type="button" data-toggle="modal" data-target="#deviceAddModal" class="btn btn-primary" style="float:right;margin-right:5px;margin-top:80px">Add New Device</button>

<!-- Modal -->
  <div class="modal fade" id="deviceAddModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Device Details</h4>
        </div>
        <div class="modal-body">
          
          
      <form class="form-horizontal" role="form" ng-submit="addDevice()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="deviceId">Device Id:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="deviceId" placeholder="Enter Device Id" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="dtype">Device Type:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="dtype" placeholder="Type Of Device" required>
      </div>
    </div>
   
    <div class="form-group">
      <label class="control-label col-sm-2" for="status">Status:</label>
      <div class="col-sm-10">          
        
       
   <div class="radio">
  <label><input type="radio" id="active" checked name="status">Active</label>
</div>
<div class="radio">
  <label><input type="radio" id="inactive" name="status">Inactive</label>
</div>

      </div>
    </div>
   
        <button type="submit" class="btn btn-primary">Add</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
  </form>
     
       </div>
       
        </div>
      
    </div>
  </div>
</div>

  </body>
   <script>
   
	function successLoginController($scope,$http,$location) {
	console.log("here1");
	   $scope.loadDevices = function() {
	   console.log("here2");
		$http({
	    		method: 'Get',
	            url: '/loadDevices',
	         }).success(function(response){
	           $scope.deviceResults = JSON.parse(response.deviceResults);
	            console.log("devices:>>"+$scope.deviceResults)
	   }).error(function(error){
	            alert("error");
	        });
	    };
	 $scope.loadDevices();
			 
			 
			 
	$scope.removeDevice = function(device) {
	var deviceIdToDelete = device.device.iddevices;
	alert(deviceIdToDelete);
	$http({
	            method: 'POST',
	            url: '/deleteDevice',
	            data: { "deviceIdToDelete": deviceIdToDelete}
	            
	         }).success(function(response){
	          alert("Device Deleted");
	         $scope.deviceResults = JSON.parse(response.modifiedDevicesResults);
	        }).error(function(error){
	            alert("error");
	        });
	        
	};
	
	$scope.addDevice = function()
	{
	
	var deviceId = document.getElementById("deviceId").value;
	var pwd = document.getElementById("pwd").value;
	var dtype = document.getElementById("dtype").value;
	if(document.getElementById('active').checked) {
	 var status = "Active";
	}else if(document.getElementById('inactive').checked) {
	 var status = "Inactive";
	}
	
	
	
	$http({
	            method: 'POST',
	            url: '/device',
	            data: { "deviceId": deviceId, "pwd": pwd,  "dtype": dtype,  "status": status}
	            
	         }).success(function(response){
	  		 $scope.deviceResults = JSON.parse(response.addedDeviceResults);
	          alert("Device Added");
		 }).error(function(error){
	            alert("Device Already Exists.");
	        });
	
	
	
	$('#deviceAddModal').modal('hide');
	
	$('#deviceAddModal').on('hidden.bs.modal', function (e) {
  $(this)
    .find("input,textarea,select")
       .val('')
       .end()
    .find("input[type=checkbox], input[type=radio]")
       .prop("checked", "")
       .end();
})
	}; 
			 }
	 </script>
</html>
